<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Concert Tracker</title>
</head>
<body>
{{^username}}
<h1>Welcome to Your Concert Tracker.
    <br> <br>
    Please Sign In
</h1>
<form action="/login" method="post" class="loginForm">
    <input type="text" name="username" style="background-color: #ECECEC;" placeholder="Username"/>
    <input type="password" name="password" style="background-color: #ECECEC;" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}
{{#username}}
<h2><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/270412-200.png" alt="this stuff" width="100px" height="100px"/> <span class="welcome"> Welcome, {{.}}.</span> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/270412-200.png" alt="this stuff" width="100px" height="100px"/> </h2>
<br>
<br>
<form action="/create-concert" method="post">
    <input type="text" name="bandName" placeholder="Band Name"/>
    <input type="text" name="venue" placeholder="Venue Name"/>
    <input type="datetime-local" name="date"/>
    <input type="text" name="highlights" placeholder="Highlights"/>

    <label> <input type="radio" hidden id="rating-1" name="rating" value="1" /> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/356778-200.png" width="25px" height="25px"></label>
    <label> <input type="radio" hidden id="rating-2" name="rating" value="2" /> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/356778-200.png" width="25px" height="25px"></label>
    <label> <input type="radio" id="rating-3" name="rating" value="3" /> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/356778-200.png" width="25px" height="25px"></label>
    <label> <input type="radio" id="rating-4" name="rating" value="4" /> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/356778-200.png" width="25px" height="25px"></label>
    <label> <input type="radio" id="rating-5" name="rating" value="5" /> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/356778-200.png" width="25px" height="25px"></label>

    <button type="submit">Submit</button>
</form>
{{#concert}}
{{#openEdit}}

<form action="/edit-concert" method="post">
    <input type="text" name="bandName" value="{{bandName}}" placeholder="Band Name"/>
    <input type="text" name="venue" value="{{venue}}" placeholder="Venue Name"/>
    <input type="datetime-local" value="{{date}}" name="date"/>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="highlights" value="{{highlights}}" placeholder="Highlights"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Update</button>

    {{/openEdit}}
    {{/concert}}

</form>


<ul>
    {{#concerts}}
    <li>
        {{bandName}} <> {{venue}} <> {{date}} <> {{rating}}/5 <> {{highlights}}
        {{#isMe}}
        <form action="/delete-concert" method="post" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Delete Concert</button>
        </form>
        {{/isMe}}
        {{#isMe}}
        <form action="/getEdit" method="post" style="display: inline-block;">
            <input type="hidden" value="true"/>
            <button class="editButton" type="submit"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/183340-200.png" width="20px" height="20px"></button>
        </form>
        {{/isMe}}
        <form action="/attended" method="post" style="display: inline-block;">
            <button class="haveAttended" type="submit">Attended</button>
            <input type="hidden" name="id" value="{{id}}"/>
        </form>

    </li>
    <br>
    {{/concerts}}
</ul>


<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{/username}}

</body>
</html>